/* Add here all your CSS customizations */

header {
	clear: both;
	border-top: 5px solid #ecf0f1;
	background: #ecf0f1;
	background: -moz-linear-gradient(top,  #ecf0f1 0%, #ecf0f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f1), color-stop(100%,#ecf0f1));
	background: -webkit-linear-gradient(top,  #ecf0f1 0%,#ecf0f1 100%);
	background: -o-linear-gradient(top,  #ecf0f1 0%,#ecf0f1 100%);
	background: -ms-linear-gradient(top,  #ecf0f1 0%,#ecf0f1 100%);
	background: linear-gradient(to bottom,  #ecf0f1 0%,#ecf0f1 100%);
	min-height: 100px;
	padding: 8px 0;
}


body.sticky-menu-active div header{
	opacity: 0.9;
}

a.thumb-info span.thumb-info-action {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(36,27,28, .7);
	bottom: 0;
	color: #FFF;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0.0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
}

a.thumb-info span.thumb-info-title {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(36,27,28, .9);
	bottom: 10%;
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
	left: 0;
	letter-spacing: -1px;
	padding: 11px 0px 11px;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	text-transform: uppercase;
	transition: all 0.3s;
	z-index: 1;
	width: 100%;
}

a.thumb-info span.thumb-info-type {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	/*float: left;*/
	font-weight: 400;
	letter-spacing: 0;
	margin-bottom:-20px;
	padding: 2px 9px;
	text-transform: none;

}

a.thumb-info {
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	
}

a.thumb-info div.thumb-info-type-box{
	text-align:center;
	width:100%;
	position: absolute;
}

.portfolio-price-normal{
	border:solid 1px #CCC; 
	border-bottom: none;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:0px;
	float:right;
	padding:2px 10px 2px 10px;
	margin-right:5px;
	position:relative;
	width:30%;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	background-color: white;

}

.portfolio-price-promotion{
	border:solid 3px #27ae60; 
	border-bottom: none;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:0px;
	float:right;
	padding:2px 10px 2px 10px;
	margin-right:5px;
	position:relative;
	width:30%;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	background-color: #2ecc71;
	color: white;

}

a.thumb-info span.thumb-info-action-icon:hover {
	right: 0;
	top: 0;
	background: red;
}

a.thumb-info span.thumb-info-action-icon i {
	font-size: 40px;
	text-shadow: 3px 3px 3px rgba(0,0,0,.2);
	left: 0px;
	position: relative;
	top: 0px;
}

.thumb-info-action-div{
	text-align: center;
	font-size: 1.5em;
	padding-top:45%; 
	color: rgba(145,145,145, .6);
}
	